# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python

# Jupyter notebook
*.ipynb text

# Documentation
*.md text diff=markdown
*.txt text

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf

# Declare files that will always have LF line endings on checkout
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.wav binary
*.flac binary
*.zip binary
*.tar.gz binary
*.keras binary
*.h5 binary
*.pb binary
*.pth binary 